---
layout: blog
title: The blog from BinaryAge
---

<h1>The ideas from BinaryAge</h1>

<ul class="posts">
{% for post in paginator.posts %}
    <li>
        <a href="{{ post.url }}" class="post-title">{{ post.title }}</a> 
        <span class="post-date">on {{ post.date | date:"%B %d, %Y" }}</span>
    </li>
{% endfor %}
</ul>

<script>
Cufon.replace('#blog h1', {
    textShadow: '#eee 0px 2px'
});
</script>

<div class='paging'>
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <a href='/' class='newer'>&lt;&lt; newer posts</a>
  {% else %}
    <a href='/page{{paginator.previous_page}}' class='newer'>&lt;&lt; newer posts</a>
  {% endif %}
{% endif %}

{% if paginator.previous_page and paginator.next_page %}
&nbsp;&nbsp;|&nbsp;&nbsp;
{% endif %}

{% if paginator.next_page %}
  <a href='/page{{paginator.next_page}}' class='older'>older posts &gt;&gt;</a>
{% endif %}
  <div class='clear'></div>
</div>